<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!--Definimos el componente cash-income -->
<dom-module id="cash-income">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div>
      <h2 class="text-primary">Ingreso de Efectivo</h2>
      <br>
      <h3 class="text-primary">Introduce la cantidad a ingresar:</h3>
      <br>
      <p>
        <input type="amount" placeholder="Cantidad a ingresar" value="{{amount::input}}"/>
        <button class="btn btn-primary" on-click="_cashincome">Ingresar</button>
      </p>
    </div>
    <footer>
      <button class="btn btn-primary" on-click="_atras">Volver</button>
    </footer>
  </template>

  <script>

  /************************************************************************
   * Métodos para el componente cash-income
   * - _cashincome: Lanza evento reqcashincomedata con el importe a ingresar
   * y la cuenta seleccionada previamente que esta guardada en sessionStorage
   * - _showMsgError: Muestra el mensaje devuelto por el back de ingreso
   * de efectivo (dm-cashincome) y lanza evento para volver a la posición
   * global refrescando las cuentas del cliente
   * - _atras: Lanza evento para volver a la posición global del cliente
   * y limpia el contenido del campo que contiene la cantidad a ingresar
   ************************************************************************/

    class CashIncome extends Polymer.Element {
      static get is() { return 'cash-income'; }
      static get properties() {
        return {
          amount: {
            type: Number
          },
          password: {
            type: String
          },
          resultcashincome: {
            type: Object,
            observer: '_showMsgError'
          }
        };
      }

      _cashincome(){
        if(isNaN(this.amount)){
          swal("","Debe introducir una cantidad válida","error");
        }else{
          var cuentas = JSON.parse(sessionStorage.getItem('cuentas'));
          var selectAccount = sessionStorage.getItem('cuentaseleccionada');
          this.dispatchEvent(
            new CustomEvent(
              'reqcashincomedata',
              {
                "detail" : {
                  "amount" : parseFloat(this.amount),
                  //Eliminamos las comillas de la cuenta seleccionada
                  "accountid" : selectAccount.slice(1,-1)
                }
              }
            )
          );
          this.amount=undefined;
        }
      }

      _showMsgError(resultCashincome){
        if (resultCashincome!="" && resultCashincome!=undefined){
          if (!resultCashincome.error){
            swal("",resultCashincome.msg,"success");
            this.dispatchEvent(
            new CustomEvent(
              'refreshaccounts',
              {
                "detail" : {
                  "refresh" : true
                }
              }
            )
          );
        }else{
          swal("",resultCashincome.msg,"error");
        }
          resultCashincome="";
        }
      }

      _atras(){
        this.amount=undefined;
        this.dispatchEvent(
          new CustomEvent(
            'atras',
            {
              "detail" : {}
            }
          )
        );
      }

    }
    window.customElements.define(CashIncome.is, CashIncome);
  </script>
</dom-module>
