<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!--Definimos el componente nueva-cuenta -->
<dom-module id="nueva-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div>
      <h3 class="text-primary">Introduce el balance inicial para la nueva cuenta</h3>
      <br>
      <p>
        <input type="text" placeholder="Balance Inicial" value="{{balance::input}}"/>
      </p>
    </div>
    <footer>
      <button class="btn btn-primary" on-click="_addaccount">Crear Cuenta</button>
      <button class="btn btn-primary" on-click="_atras">Volver</button>
    </footer>
  </template>

  <script>

  /************************************************************************
   * Métodos para el componente nueva-cuenta
   * - _addaccount: Lanza evento reqaddaccount con el balance recogido en
   * ventana, para la solicitud de creacion de cuenta
   * - _showMsgError: Muestra el mensaje devuelto por el back de creación
   * de cuenta (dm-create-account)
   ************************************************************************/

    class NuevaCuenta extends Polymer.Element {
      static get is() { return 'nueva-cuenta'; }
      static get properties() {
        return {
          balance: {
            type: Number
          },
          result: {
            type: Object,
            observer: '_showMsgError'
          }
        };
      }

      _addaccount(){
        if(isNaN(this.balance)){
          swal("","Debe introducir una cantidad válida","error");
        }else{
          this.dispatchEvent(
          new CustomEvent(
            'reqaddaccount',
            {
              "detail" : {
                "balance" : this.balance
              }
            }
          )
        );
        this.balance="";
      }
    }

      _showMsgError(result){
        if (result!="" && result!=undefined){
          if (!result.error){
            swal("",result.msg,"success");
            this.dispatchEvent(
            new CustomEvent(
              'refreshaccounts',
              {
                "detail" : {
                  "refresh" : true
                }
              }
            )
          );
        }else{
          swal("",result.msg,"error");
        }
          result="";
        }
      }

      _atras(){
        this.dispatchEvent(
          new CustomEvent(
            'atras',
            {
              "detail" : {}
            }
          )
        );
      }

    }
    window.customElements.define(NuevaCuenta.is, NuevaCuenta);
  </script>
</dom-module>
