<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--Definimos el componente dm-accounts -->
<dom-module id="dm-accounts">
  <template>
    <iron-ajax
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/[[id]]/accounts"
      handle-as="json"
      on-response="showData"
      on-error="showError">
  </template>

  <script>

  /************************************************************************
   * Métodos para el componente dm-accounts
   * - _doAccounts: Recupera el id de usuario del evento recibido y lo guarda en
   * la propiedad id para después lanzar la petición GET que recupera las cuentas
   * del cliente recibido.
   * - _showData: Se ejecuta en caso de obtener respuesta correcta de la petición
   * GET y lanza un evento con las cuentas recibidas.
   * - _showError: Se ejecuta en caso de producirse un error en la petición
   * GET y lanza un evento trasladando este error.
   ************************************************************************/

    class DmAccounts extends Polymer.Element {
      static get is() { return 'dm-accounts'; }
      static get properties() {
        return {
          entrydata: {
            type: Number,
            observer : '_doAccounts'
          }
        };
      }

      _doAccounts(entrydata){
        if (entrydata!=""){
          this.id=entrydata;
          this.$.getAccounts.generateRequest();
        }
      }

      showData(data){
        //Lanzamos evento con los datos obtenidos
        this.dispatchEvent(
          new CustomEvent(
            'resaccounts',
            {
              "detail" : {
                "result" : true,
                "accounts" : data.detail.response
              },
            }
          )
        );
      }

      showError(error){
        //Lanzamos evento con el error
        this.dispatchEvent(
          new CustomEvent(
            'resaccounts',
            {
              "detail" : {
                "error" : error
              },
            }
          )
        );
      }

    }

    window.customElements.define(DmAccounts.is, DmAccounts);
  </script>
</dom-module>
