<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--Definimos el componente dm-create-account -->
<dom-module id="dm-create-account">
  <template>

    <iron-ajax
      id="doCreateAccount"
      method="GET"
      url="http://localhost:3000/apitechu/v2/newaccount"
      content-type="application/json"
      handle-as="json"
      on-response="manageAccountResponse"
      on-error="showError">

      <iron-ajax
        id="doCreateUserAccount"
        method="POST"
        url="http://localhost:3000/apitechu/v2/newuseraccount"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">

  </template>

  <script>

  /************************************************************************
   * Métodos para el componente dm-create-account
   * - _doCreateAccount: Realiza petición GET para obtener el numero de cuenta a
   * asignar.
   * - manageAccountResponse: Se ejecuta en caso de obtener respuesta correcta en
   * la petición GET que obtiene el numero de cuenta. Añade el numero de cuenta
   * creado a los datos recibidos en la petición original (id usuario y balance)
   * y los carga en el body para realizar la petición POST que incluye la nueva-cuenta
   * al usuario indicado.
   * - manageAJAXResponse: Se ejecuta en caso de obtener respuesta correcta de
   * la petición POST y lanza un evento indicando resultado correcto en la operación.
   * - _showError: Se ejecuta en caso de producirse un error en la petición
   * POST y lanza un evento trasladando este error.
   ************************************************************************/

    class DmCreateAccount extends Polymer.Element {
      static get is() { return 'dm-create-account'; }
      static get properties() {
          return {
          infonewaccount: {
            type : String,
            observer : '_doCreateAccount'
          }
        };
      }

      _doCreateAccount(infonewaccount){
        this.$.doCreateAccount.generateRequest();
      }

      manageAccountResponse(data){
        //Creamos la cuenta de usuario
        var infoNewUserAccount = JSON.parse(this.infonewaccount);
        infoNewUserAccount.iban=data.detail.response.msg;
        this.$.doCreateUserAccount.body=JSON.stringify(infoNewUserAccount);
        this.$.doCreateUserAccount.generateRequest();
      }

      manageAJAXResponse(data){
        //Lanzamos evento con los datos obtenidos
        this.dispatchEvent(
          new CustomEvent(
            'rescreateaccount',
            {
              "detail" : {
                "result" : true
              },
            }
          )
        );
      }

      showError(error){
        this.dispatchEvent(
          new CustomEvent(
            'rescreateaccount',
            {
              "detail" : {
                "error" : error
              },
            }
          )
        );
      }

    }

    window.customElements.define(DmCreateAccount.is, DmCreateAccount);
  </script>
</dom-module>
