<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--Definimos el componente dm-cashwithdrawal -->
<dom-module id="dm-cashwithdrawal">
  <template>
    <iron-ajax
      id="doCashwithdrawal"
      method="POST"
      url="http://localhost:3000/apitechu/v2/accounts/cashwithdrawal"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
  </template>

  <script>

  /************************************************************************
   * Métodos para el componente dm-cashwithdrawal
   * - _doCashWithdrawal: Carga en body el objeto recibido con los datos para la
   * petición POST de retirada de efectivo. En el body se carga importe y cuentas
   * donde realizar la retirada.
   * - manageAJAXResponse: Se ejecuta en caso de obtener respuesta correcta de
   * la petición POST y lanza un evento indicando resultado correcto en la operación.
   * - _showError: Se ejecuta en caso de producirse un error en la petición
   * POST y lanza un evento trasladando este error.
   ************************************************************************/

    class DmCashwithdrawal extends Polymer.Element {
      static get is() { return 'dm-cashwithdrawal'; }
      static get properties() {
        return {
          cashwithdrawaldata: {
            type: String,
            observer : '_doCashWithdrawal'
          }
        };
      }

      _doCashWithdrawal(entrydata){
        this.$.doCashwithdrawal.body=JSON.stringify(entrydata);
        this.$.doCashwithdrawal.generateRequest();
      }

      manageAJAXResponse(data){
        //Lanzamos evento con los datos obtenidos
        this.dispatchEvent(
          new CustomEvent(
            'rescashwithdrawal',
            {
              "detail" : {
                "result" : true
              },
            }
          )
        );
      }

      showError(error){
        //Lanzamos evento con el error
        this.dispatchEvent(
          new CustomEvent(
            'rescashwithdrawal',
            {
              "detail" : {
                "error" : error
              },
            }
          )
        );
      }

    }

    window.customElements.define(DmCashwithdrawal.is, DmCashwithdrawal);
  </script>
</dom-module>
