<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--Definimos el componente dm-movements -->
<dom-module id="dm-movements">
  <template>
    <iron-ajax
      id="getMovements"
      url="http://localhost:3000/apitechu/v2/accounts/[[id]]/movements"
      handle-as="json"
      on-response="showData"
      on-error="showError">
  </template>

  <script>

  /************************************************************************
   * Métodos para el componente dm-movements
   * - _doMovements: Recupera el id de usuario del evento recibido y lo guarda en
   * la propiedad id para después lanzar la petición GET que recupera los movimientos
   * del cliente recibido.
   * - _showData: Se ejecuta en caso de obtener respuesta correcta de la petición
   * GET y lanza un evento con los movimientos recibidos.
   * - _showError: Se ejecuta en caso de producirse un error en la petición
   * GET y lanza un evento trasladando este error.
   ************************************************************************/

    class DmMovements extends Polymer.Element {
      static get is() { return 'dm-movements'; }
      static get properties() {
        return {
          entrymoves: {
            type: Number,
            observer : '_doMovements'
          }
        };
      }

      _doMovements(entrymoves){
        if (entrymoves!=""){
          this.id=entrymoves;
          this.$.getMovements.generateRequest();
        }
      }

      showData(data){
        //Lanzamos evento con los datos obtenidos
        this.dispatchEvent(
          new CustomEvent(
            'resmovements',
            {
              "detail" : {
                "result" : true,
                "movements" : data.detail.response
              },
            }
          )
        );
      }

      showError(error){
        //Lanzamos evento con el error
        this.dispatchEvent(
          new CustomEvent(
            'resmovements',
            {
              "detail" : {
                "error" : error
              },
            }
          )
        );
      }

    }

    window.customElements.define(DmMovements.is, DmMovements);
  </script>
</dom-module>
