<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--Definimos el componente dm-exchange -->
<dom-module id="dm-exchange">
  <template>
    <iron-ajax
      id="getUSDExchanges"
      url="http://data.fixer.io/api/latest?access_key=e54a7aaee380e99dd2f6e5cf9b78c671&symbols=USD&format=1"
      handle-as="json"
      on-response="_manageExchange"
      on-error="_showErrorExchange">
  </template>

  <script>

  /************************************************************************
   * Métodos para el componente dm-exchange
   * - _doExchange: Lanza petición GET a API Externa para obtener el tipo de cambio
   * entre Euros y Dolares. El API es de fixer.io
   * - _manageExchange: Se ejecuta en caso de obtener respuesta correcta de
   * la petición GET. Guarda en sessionStorage el tipo de cambio obtenidos
   *  y lanza un evento indicando resultado correcto en la operación.
   * - _showError: Se ejecuta en caso de producirse un error en la petición
   * GET y lanza un evento trasladando este error.
   ************************************************************************/

    class DmExchange extends Polymer.Element {
      static get is() { return 'dm-exchange'; }
      static get properties() {
        return {
          entrydata: {
            type: Number,
            observer : '_doExchange'
          }
        };
      }

      _doExchange(entrydata){
        this.$.getUSDExchanges.generateRequest();
      }


      _manageExchange(data) {
        sessionStorage.setItem('usdExchange',data.detail.response.rates.USD);
        this.dispatchEvent(
          new CustomEvent(
            'resexchange',
            {
              "detail" : {
                "result" : true
              },
            }
          )
        );
      }

      _showErrorExchange(error){
        //Lanzamos evento con el error
        this.dispatchEvent(
          new CustomEvent(
            'resexchange',
            {
              "detail" : {
                "error" : error
              },
            }
          )
        );
      }

    }

    window.customElements.define(DmExchange.is, DmExchange);
  </script>
</dom-module>
