<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!--Definimos el componente login-usuario -->
<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div>
      <h3 class="text-primary">Introduce tus claves de acceso</h3>
      <br>
      <p>
        <input type="email" placeholder="Email" value="{{email::input}}"/>
        <input type="password" placeholder="Password" value="{{password::input}}"/>
        <button class="btn btn-primary" on-click="login">Entrar</button>
      </p>
      <footer>
        <button class="btn btn-primary" on-click="newuser">Nuevo Usuario</button>
      </footer>
    </div>
  </template>

  <script>

  /************************************************************************
   * Métodos para el componente login-usuario
   * - login: Lanza evento reqlogin con el email y password recogidos en
   * ventana, siempre que el formato del email sea correcto, para la solicitud
   * de login del usuario.
   * - newuser: Lanza evento comunicando la solicitud de creación de un nuevo
   * usuario.
   * - _showMsgError: Muestra el mensaje devuelto por el back de login
   * de usuario (dm-login-usuario)
   ************************************************************************/

    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          result: {
            type: Object,
            observer: '_showMsgError'
          }
        };
      }

      login(){
        //Comprobamos el formato del email introducido
        if (/^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i.test(this.email)) {
          this.dispatchEvent(
            new CustomEvent(
              'reqlogin',
              {
                "detail" : {
                  "email" : this.email,
                  "pwd" : this.password
                },
              }
            )
          );
          //Eliminamos los datos introducidos para la próxima presentación del elemento
          this.email=undefined;
          this.password=undefined;
        } else {
          swal("","El formato del email introducido no es correcto","error");
        }
      }

      newuser(){
        this.dispatchEvent(
          new CustomEvent(
            'reqnewuser',
            {
              "detail" : {}
            }
          )
        );
      }


      _showMsgError(result){
        swal("","Usuario o clave incorrecta","error");
      }

    }
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
