<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--Definimos el componente dm-login-usuario -->
<dom-module id="dm-create-user">
  <template>

    <iron-ajax
      id="doCreateUser"
      method="POST"
      url="http://localhost:3000/apitechu/v2/newuser"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>

  /************************************************************************
   * Métodos para el componente dm-create-user
   * - _doCreateUser: Carga en body el objeto recibido con los datos para la
   * petición POST de creación de usuario. En el body se carga email,password,nombre
   * y apellido.
   * - manageAJAXResponse: Se ejecuta en caso de obtener respuesta correcta de
   * la petición POST y lanza un evento indicando resultado correcto en la operación.
   * - _showError: Se ejecuta en caso de producirse un error en la petición
   * POST y lanza un evento trasladando este error.
   ************************************************************************/

    class DmCreateUser extends Polymer.Element {
      static get is() { return 'dm-create-user'; }
      static get properties() {
          return {
          crednewuser: {
            type : String,
            observer : '_doCreateUser'
          }
        };
      }

      _doCreateUser(crednewuser){
        this.$.doCreateUser.body=crednewuser;
        this.$.doCreateUser.generateRequest();
      }

      manageAJAXResponse(data){
        //Eliminamos userOld de sessionStorage
        sessionStorage.removeItem('userOld');
        //Lanzamos evento con los datos obtenidos
        this.dispatchEvent(
          new CustomEvent(
            'rescreateuser',
            {
              "detail" : {
                "result" : true
              },
            }
          )
        );
      }

      showError(error){
        this.dispatchEvent(
          new CustomEvent(
            'rescreateuser',
            {
              "detail" : {
                "error" : error
              },
            }
          )
        );
      }

    }

    window.customElements.define(DmCreateUser.is, DmCreateUser);
  </script>
</dom-module>
