<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!--Definimos el componente visor-movimientos -->
<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <h3 class="text-primary">Movimientos de Cuenta</h3>
    <br>
    <table class="table">
      <thead>
        <tr class="table-info">
          <th scope="col">Fecha</th>
          <th scope="col">Importe</th>
          <th scope="col">Tipo de Movimiento</th>
        </tr>
      </thead>
        <template is="dom-repeat" items="{{movements}}" filter="isCashincome" observe="type item.type">
          <tbody>
            <tr>
              <td>{{item.date}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.type}}</</td>
            </tr>
          </tbody>
        </template>
    </table>
    <footer>
      <button class="btn btn-primary" on-click="_atras">Volver</button>
    </footer>
  </template>

  <script>

    /************************************************************************
     * Métodos para el componente visor-movimientos
     * - isCashincome: Formatea los importes con separadores de miles y de
     * decimales. Además sustituye el tipo de movimiento por el literal
     * correspondiente para presentar en ventana.
     * - _atras: Lanza evento "atras" para volver a la posición global
     ************************************************************************/

    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
        };
      }

      isCashincome(item) {
        var formatNumber = {
        separador: ".", // separador para los miles
        sepDecimal: ',', // separador para los decimales
        formatear:function (num){
         num +='';
         var splitStr = num.split('.');
         var splitLeft = splitStr[0];
         var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
         var regx = /(\d+)(\d{3})/;
         while (regx.test(splitLeft)) {
           splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
         }
         return  splitLeft + splitRight + this.simbol;
        },
        formatea:function(num, simbol){
         this.simbol = simbol ||'';
         return this.formatear(num);
        }
        }
        item.amount=formatNumber.formatea(item.amount,"€");
        if (item.type=="1"){
          item.type="Ingreso";
          return item;
        }else{
        item.type="Retirada de Efectivo";
        return item;
        }
      }

      _atras(){
        this.dispatchEvent(
          new CustomEvent(
            'atras',
            {
              "detail" : {}
            }
          )
        );
      }

    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
