<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/nuevo-usuario/nuevo-usuario.html">
<link rel="import" href="/src/dm-login-usuario/dm-login-usuario.html">
<link rel="import" href="/src/dm-logout-usuario/dm-logout-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/nueva-cuenta/nueva-cuenta.html">
<link rel="import" href="/src/dm-accounts/dm-accounts.html">
<link rel="import" href="/src/dm-exchange/dm-exchange.html">
<link rel="import" href="/src/dm-cashincome/dm-cashincome.html">
<link rel="import" href="/src/cash-income/cash-income.html">
<link rel="import" href="/src/dm-cashwithdrawal/dm-cashwithdrawal.html">
<link rel="import" href="/src/cash-withdrawal/cash-withdrawal.html">
<link rel="import" href="/src/dm-movements/dm-movements.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<link rel="import" href="/src/dm-create-user/dm-create-user.html">
<link rel="import" href="/src/dm-create-account/dm-create-account.html">

<!--Definimos el componente manejador-front  -->
<dom-module id="manejador-front">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Incluimos los data manager para cada tipo de petición  -->
    <dm-login-usuario credentials='[[userInfo]]' id="dmlogin"></dm-login-usuario>
    <dm-logout-usuario credentials='[[userId]]' id="dmlogout"></dm-logout-usuario>
    <dm-create-user crednewuser='[[addInfo]]' id="dmcreateuser"></dm-create-user>
    <dm-create-account infonewaccount='[[addAccount]]' id="dmcreateaccount"></dm-create-account>
    <dm-accounts entrydata='[[idUser]]' id="dmaccounts"></dm-accounts>
    <dm-movements entrymoves='[[idAccount]]' id="dmmovements"></dm-movements>
    <dm-cashincome cashincomedata='[[addCashIncome]]' id="dmcashincome"></dm-cashincome>
    <dm-cashwithdrawal cashwithdrawaldata='[[addCashWithdrawal]]' id="dmcashwithdrawal"></dm-cashwithdrawal>
    <dm-exchange entrydata='[[switchExchange]]' id="dmexchange"></dm-exchange>

    <!-- Incluimos el objeto que controla el componente a presentar -->
    <iron-pages selected=[[pageName]] attr-for-selected="page-name" fallback-selection="fallback">
      <login-usuario page-name="login" result=[[errorLogin]]></login-usuario>
      <nuevo-usuario page-name="newuser" result=[[errorCreateUser]]></nuevo-usuario>
      <visor-cuentas page-name="accounts" accounts=[[listAccounts]] firstname=[[fName]] lastname=[[lName]]></visor-cuentas>
      <nueva-cuenta page-name="newaccount" result=[[errorCreateAccount]]></nueva-cuenta>
      <visor-movimientos page-name="movements" movements=[[listMovements]]></visor-movimientos>
      <cash-income page-name="ingreso" resultcashincome=[[errorCashincome]]></cash-income>
      <cash-withdrawal page-name="retirada" resultcashwithdrawal=[[errorCashwithdrawal]]></cash-withdrawal>
      <div page-name="fallback">
        Pagina no encontrada.
      </div>
    </iron-pages>

  </template>

  <script>

   /*
   * Definimos las propiedades necesarias y los diferentes métodos para
   * tratar los eventos generados en los diferentes componentes
   */

    class ManejadorFront extends Polymer.Element {
      static get is() { return 'manejador-front'; }
      static get properties() {
        return {
          pageName: {
            type: String,
            value: 'login'
          },
          userInfo: {
            type: String
          },
          addInfo: {
            type: String
          },
          addAccount: {
            type: String
          },
          addCashIncome: {
            type: String
          },
          addCashWithdrawal: {
            type: String
          },
          idUser: {
            type: Number
          },
          userId: {
            type: Number
          },
          switchExchange: {
            type: Number
          },
          idAccount: {
            type: Number
          },
          userData: {
            type: Object
          },
          errorLogin: {
            type: Object
          },
          errorCreateUser: {
            type: String
          },
          errorCreateAccount: {
            type: String
          },
          errorCashincome: {
            type: String
          },
          errorCashwithdrawal: {
            type: String
          },
          listAccounts: {
            type: Array
          },
          fName: {
            type: String
          },
          lName: {
            type: String
          }
        };
      }

      /*
      * Añadimos los diferentes Listeners para cada uno de los posibles eventos
      * a tratar en este componente y su contexto
      */

      ready() {
        super.ready();
        this.shadowRoot.querySelector('login-usuario').addEventListener('reqlogin', this._onReqLogin.bind(this));
        this.shadowRoot.querySelector('login-usuario').addEventListener('reqnewuser', this._onReqNewUser.bind(this));
        this.shadowRoot.querySelector('nuevo-usuario').addEventListener('reqadduser', this._onReqAddUser.bind(this));
        this.shadowRoot.querySelector('dm-login-usuario').addEventListener('reslogin', this._onResLogin.bind(this));
        this.shadowRoot.querySelector('dm-logout-usuario').addEventListener('reslogout', this._onResLogout.bind(this));
        this.shadowRoot.querySelector('dm-create-user').addEventListener('rescreateuser', this._onResCreateUser.bind(this));
        this.shadowRoot.querySelector('dm-create-account').addEventListener('rescreateaccount', this._onResCreateAccount.bind(this));
        this.shadowRoot.querySelector('dm-accounts').addEventListener('resaccounts', this._onResAccounts.bind(this));
        this.shadowRoot.querySelector('visor-cuentas').addEventListener('reqmovements', this._onReqMovements.bind(this));
        this.shadowRoot.querySelector('visor-cuentas').addEventListener('reqcashincome', this._onReqCashIncome.bind(this));
        this.shadowRoot.querySelector('visor-cuentas').addEventListener('reqcashwithdrawal', this._onReqCashWithdrawal.bind(this));
        this.shadowRoot.querySelector('visor-cuentas').addEventListener('reqnewaccount', this._onReqNewAccount.bind(this));
        this.shadowRoot.querySelector('visor-cuentas').addEventListener('reqlogout', this._onReqLogout.bind(this));
        this.shadowRoot.querySelector('nueva-cuenta').addEventListener('reqaddaccount', this._onReqAddAccount.bind(this));
        this.shadowRoot.querySelector('cash-income').addEventListener('reqcashincomedata', this._onReqCashIncomeData.bind(this));
        this.shadowRoot.querySelector('cash-withdrawal').addEventListener('reqcashwithdrawaldata', this._onReqCashWithdrawalData.bind(this));
        this.shadowRoot.querySelector('dm-cashincome').addEventListener('rescashincome', this._onResCashincome.bind(this));
        this.shadowRoot.querySelector('dm-cashwithdrawal').addEventListener('rescashwithdrawal', this._onResCashwithdrawal.bind(this));
        this.shadowRoot.querySelector('dm-movements').addEventListener('resmovements', this._onResMovements.bind(this));
        this.shadowRoot.querySelector('visor-movimientos').addEventListener('atras', this._onAtras.bind(this));
        this.shadowRoot.querySelector('nuevo-usuario').addEventListener('atras', this._onAtrasUsuario.bind(this));
        this.shadowRoot.querySelector('nueva-cuenta').addEventListener('atras', this._onAtras.bind(this));
        this.shadowRoot.querySelector('cash-withdrawal').addEventListener('atras', this._onAtras.bind(this));
        this.shadowRoot.querySelector('cash-income').addEventListener('atras', this._onAtras.bind(this));
        this.shadowRoot.querySelector('dm-exchange').addEventListener('resexchange', this._onResExchange.bind(this));
        this.shadowRoot.querySelector('nueva-cuenta').addEventListener('refreshaccounts', this._onRefreshAccounts.bind(this));
        this.shadowRoot.querySelector('cash-income').addEventListener('refreshaccounts', this._onRefreshAccounts.bind(this));
        this.shadowRoot.querySelector('cash-withdrawal').addEventListener('refreshaccounts', this._onRefreshAccounts.bind(this));
      }

      /*
      * Método para tratar los eventos de vuelta atrás de los diferentes componentes
      * salvo en el caso del componente de creacion de usuario.
      * Cargamos de nuevo el componente de posición global
      */

      _onAtras(e){
        this.pageName="accounts";
      }

      /*
      * Método para tratar los eventos de vuelta atrás en el caso del
      * componente de creacion de usuario.
      * Cargamos de nuevo el componente de login
      */

      _onAtrasUsuario(e){
        this.pageName="login";
      }

      /*
      * Método para tratar el evento de petición de login de usuario.
      * Cargamos los datos en userInfo para que se lance el observer que
      * tenemos en el componente dm-login-usuario
      */

      _onReqLogin(e){
        this.userInfo=JSON.stringify(e.detail);
        this.userInfo="";
      }

      /*
      * Método para tratar la respuesta del back de login de usuario.
      * Si ha sido correcto cargamos idUSer para ejecutar la consulta de cuentas
      * y guardamos los datos devueltos en el contexto del componente para su
      * posterior uso.
      * en caso de error cargamos errorLogin para tratarlo en la vista de login
      */

      _onResLogin(e){
        if (e.detail.result){
          this.userData = e.detail;
          this.idUser = e.detail.id;
          this.idUser="";
        }else{
          this.errorLogin = e.detail;
        }
      }

      /*
      * Método para tratar el evento de refrescar las cuentas de cliente después
      * de alguna operación sobre ellas.
      * Cargamos idUSer con los datos guardados previamente en el contexto del
      * componente para ejecutar la consulta de cuentas
      */

      _onRefreshAccounts(e){
          this.idUser = this.userData.id;
          this.idUser="";
      }

      /*
      * Método para realizar logout del usuario.
      * Cargamos los datos en userId para que se lance el observer que
      * tenemos en el componente dm-logout-usuario
      */

      _onReqLogout(e){
        this.userId=this.userData.id;
        this.userId="";
      }

      /*
      * Método para tratar la respuesta del back de logout del usuario.
      * Si la respuesta es correcta volvemos a presentar el login de usuario
      * en caso contrario mostramos el error
      */

      _onResLogout(e){
        if (e.detail.result){
          this.pageName = "login";
        }else{
            swal("","Se ha producido un error al salir","error");
        }
      }

      /*
      * Método para tratar la petición de creación de un nuevo usuario.
      * Cargamos el componente newuser.
      */

      _onReqNewUser(e){
        this.pageName="newuser";
      }

      /*
      * Método para tratar la creación de un nuevo usuario.
      * Cargamos los datos en addInfo para que se lance el observer que
      * tenemos en el componente dm-create-usuario
      */

      _onReqAddUser(e){
        this.addInfo=JSON.stringify(e.detail);
      }

      /*
      * Método para tratar la respuesta del back de creacion del usuario.
      * Si la respuesta es correcta cargamos el mensaje a mostrar en la vista
      * del login y en caso contrario cargamos mensaje de error para
      * presentar en la vista de login.
      */

      _onResCreateUser(e){
        if (e.detail.result){
          this.errorCreateUser = {"error":false, "msg":"Usuario Creado correctamente"};
        }else{
          this.errorCreateUser = {"error":true, "msg":"No se ha podido crear el usuario. Por favor, revise los datos y vuelva a intentarlo"};
        }
      }

      /*
      * Método para tratar la petición de creación de una nueva cuenta.
      * Cargamos el componente newaccount.
      */

      _onReqNewAccount(e){
        this.pageName="newaccount";
      }

      /*
      * Método para tratar la creación de una nueva cuenta.
      * Cargamos los datos en addAccount para que se lance el observer que
      * tenemos en el componente dm-create-account
      */

      _onReqAddAccount(e){
        var accountNew = {
          "userid" : this.userData.id,
          "balance" : Number(e.detail.balance)
        }
        this.addAccount=JSON.stringify(accountNew);
      }

      /*
      * Método para tratar la respuesta del back de creacion de la nueva cuenta
      * Si la respuesta es correcta cargamos el mensaje a mostrar en la vista
      * de creacion de cuenta y en caso contrario cargamos mensaje de error para
      * presentar en la vista de creacion de cuenta.
      * Previamente si errorCreateAccount tiene valor lo limpiamos para que se
      * ejecute correctamente el observer de la vista de cuentas
      */

      _onResCreateAccount(e){
        if (this.errorCreateAccount!="" && this.errorCreateAccount!=undefined){
          this.errorCreateAccount="";
        }
        //Comprobamos si la creación ha sido correcta o se ha producido un error
        if (e.detail.result){
          //Cargamos el resultado para tratarlo en la vista de cuentas
          this.errorCreateAccount = {"error":false, "msg":"Cuenta creada correctamente"};
        }else{
          //Cargamos el error para tratarlo en la vista de cuentas
          this.errorCreateAccount = {"error":true, "msg":"No se ha podido crear la cuenta. Por favor, revise los datos y vuelva a intentarlo"};
        }
      }

      /*
      * Método para tratar la respuesta del back de recuperacion de cuentas
      * Guardamos las cuentas recuperadas en
      * sessionStorage. Cargamos listAccounts, fName y lName para ejecutar la
      * vista de cuentas. También se carga switchExchange para que se ejecute
      * el dm-exchange y obtener el tipo de cambio entre EUR y USD.
      */

      _onResAccounts(e){
        //Comprobamos si se han recuperado correctamente las cuentas
        if (e.detail.result){
          //Guardo en sessionStorage las cuentas para uso posterior
          sessionStorage.setItem('cuentas',JSON.stringify(e.detail.accounts));
          //Pasamos las cuentas y datos del usuario a la vista de cuentas
          this.listAccounts=e.detail.accounts;
          this.fName=this.userData.first_name;
          this.lName=this.userData.last_name;
          //Obtenemos el cambio de EUR en USD
          //Cargamos switchExchange para ejecutar dm-exchange
          this.switchExchange = 1;
          this.switchExchange = "";
        }else{
          swal("","No se han recuperado cuentas para el usuario logado","warning");
          this.listAccounts="";
          this.fName=this.userData.first_name;
          this.lName=this.userData.last_name;
          this.switchExchange = 1;
          this.switchExchange = "";
        }
      }

      /*
      * Método para tratar la respuesta del back de recuperacion del tipo de
      * cambio entre EUR y USD.
      * Cargamos la vista de cuentas para continuar
      */

      _onResExchange(e){
        //Comprobamos si se ha recuperado correctamente el cambio
        if (e.detail.result){
          this.pageName="accounts";
        }
      }

      /*
      * Método para tratar la petición de movimientos de una nueva cuenta.
      * Cargamos el id de la cuenta en idAccount para que se lance el observer que
      * tenemos en el componente dm-movements
      */

      _onReqMovements(e){
        //Cargamos los datos en entrymoves para que se lance el observer que
        //tenemos en el componente dm-movements
        this.idAccount=e.detail.oid;
        this.idAccount="";
      }

      /*
      * Método para tratar la respuesta del back de recuperacion de movimientos
      * Cargamos los movimientos recuperados en listMovements y el componente
      * para presentarlos.
      */

      _onResMovements(e){
        //Comprobamos si se han recuperado correctamente los movimientos
        if (e.detail.result){
          //Pasamos los movimientos
          this.listMovements=e.detail.movements;
          this.pageName="movements";
        }else{
          if (e.detail.error.detail.error.message == "The request failed with status code: 404"){
            swal("","No existen movimientos para la cuenta seleccionada","info");
          }else{
            swal("","Se ha producido un error al consultar los movimientos","error");
          }
        }
      }

      /*
      * Método para tratar la petición de ingreso en una nueva cuenta.
      * Guardamos la cuenta seleccionada en sessionStorage y cargamos el
      * componente de ingreso
      */

      _onReqCashIncome(e){
        //Guardo en sessionStorage la cuenta seleccionada
        sessionStorage.setItem('cuentaseleccionada',JSON.stringify(e.detail.oid));
        //Cargamos vista de ingreso
        this.pageName="ingreso";
      }

      /*
      * Método para tratar la petición de ingreso con importe a ingresar.
      * Cargamos el importe en addCashIncome para que se lance el
      * componente dm-cashincome
      */

      _onReqCashIncomeData(e){
        //Cargamos los datos en addCashIncome para que se lance el observer que
        //tenemos en el componente dm-cashincome
        this.addCashIncome=e.detail;
      }

      /*
      * Método para tratar la respuesta del back de ingreso
      * Cargamos el resultado de la operacion para presentarlo
      */

      _onResCashincome(e){
        if (this.errorCashincome!="" && this.errorCashincome!=undefined){
          this.errorCashincome="";
        }
        //Comprobamos si el ingreso ha sido correcto o se ha producido un error
        if (e.detail.result){
          //Cargamos el resultado para tratarlo en la vista del login
          this.errorCashincome = {"error":false, "msg":"Ingreso realizado correctamente"};
        }else{
          //Cargamos el error para tratarlo en la vista del login
          this.errorCashincome = {"error":true, "msg":"Por problemas técnicos no se ha podido realizar el ingreso"};
        }
      }

      /*
      * Método para tratar la petición de retirada en una nueva cuenta.
      * Guardamos la cuenta seleccionada en sessionStorage y cargamos el
      * componente de retirada
      */

      _onReqCashWithdrawal(e){
        //Guardo en sessionStorage la cuenta seleccionada
        sessionStorage.setItem('cuentaseleccionada',JSON.stringify(e.detail.oid));
        //Cargamos vista de retirada
        this.pageName="retirada";
      }

      /*
      * Método para tratar la petición de retirada con importe a retirar.
      * Cargamos el importe en addCashWithdrawal para que se lance el
      * componente dm-cashwithdrawal
      */

      _onReqCashWithdrawalData(e){
        //Cargamos los datos en addCashWithdrawal para que se lance el observer que
        //tenemos en el componente dm-cashwithdrawal
        this.addCashWithdrawal=e.detail;
      }

      /*
      * Método para tratar la respuesta del back de retirada
      * Cargamos el resultado de la operacion para presentarlo
      */

      _onResCashwithdrawal(e){
        if (this.errorCashwithdrawal!="" && this.errorCashwithdrawal!=undefined){
          this.errorCashwithdrawal="";
        }
        //Comprobamos si el ingreso ha sido correcto o se ha producido un error
        if (e.detail.result){
          //Cargamos el resultado para tratarlo en la vista de la retirada
          this.errorCashwithdrawal = {"error":false, "msg":"Retirada de efectivo realizada correctamente"};
        }else{
          //Cargamos el error para tratarlo en la vista de la retirada
          this.errorCashwithdrawal = {"error":true, "msg":"Por problemas técnicos no se ha podido realizar la retirada de efectivo"};
        }
      }

    }

    window.customElements.define(ManejadorFront.is, ManejadorFront);
  </script>
</dom-module>
