<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--Definimos el componente dm-cashincome -->
<dom-module id="dm-cashincome">
  <template>
    <iron-ajax
      id="doCashincome"
      method="POST"
      url="http://localhost:3000/apitechu/v2/accounts/cashincome"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
  </template>

  <script>

  /************************************************************************
   * Métodos para el componente dm-cashincome
   * - _doCashIncome: Carga en body el objeto recibido con los datos para la
   * petición POST de ingreso de efectivo. En el body se carga importe y cuentas
   * donde realizar el ingreso.
   * - manageAJAXResponse: Se ejecuta en caso de obtener respuesta correcta de
   * la petición POST y lanza un evento indicando resultado correcto en la operación.
   * - _showError: Se ejecuta en caso de producirse un error en la petición
   * POST y lanza un evento trasladando este error.
   ************************************************************************/

    class DmCashincome extends Polymer.Element {
      static get is() { return 'dm-cashincome'; }
      static get properties() {
        return {
          cashincomedata: {
            type: String,
            observer : '_doCashIncome'
          }
        };
      }

      _doCashIncome(entrydata){
        this.$.doCashincome.body=JSON.stringify(entrydata);
        this.$.doCashincome.generateRequest();
      }

      manageAJAXResponse(data){
        //Lanzamos evento con los datos obtenidos
        this.dispatchEvent(
          new CustomEvent(
            'rescashincome',
            {
              "detail" : {
                "result" : true
              },
            }
          )
        );
      }

      showError(error){
        //Lanzamos evento con el error
        this.dispatchEvent(
          new CustomEvent(
            'rescashincome',
            {
              "detail" : {
                "error" : error
              },
            }
          )
        );
      }

    }

    window.customElements.define(DmCashincome.is, DmCashincome);
  </script>
</dom-module>
