<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!--Definimos el componente visor-cuentas -->
<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <table width="100%">
      <td><h3 class="text-primary">Posición Global de [[firstname]] [[lastname]]</h3></td>
      <td align="right">
        <button type="button" class="btn btn-link" on-click="_logout">
          Salir
        </button>
      </td>
    </table>
    <br>
    <table class="table">
      <thead>
        <tr class="table-info">
          <th scope="col">IBAN</th>
          <th scope="col">Balance</th>
          <th scope="col">USD Balance</th>
          <th scope="col">Operaciones</th>
        </tr>
      </thead>
      <template is="dom-repeat" items="{{accounts}}" filter="_isBalance" observe="type item.balance">
        <tbody>
          <tr>
            <td>{{item.iban}}</td>
            <td>{{item.balance}}</td>
            <td>{{item.usdbalance}}</td>
            <td>
              <button class="btn btn-primary" on-click="_movements">Movimientos</button>
              <button class="btn btn-primary" on-click="_cashIncome">Ingreso de Efectivo</button>
              <button class="btn btn-primary" on-click="_cashWithdrawal">Retirada de Efectivo</button>
            </td>
          </tr>
        </tbody>
      </template>
    </table>
    <footer>
      <button class="btn btn-primary" on-click="_newAccount">Nueva Cuenta</button>
    </footer>
  </template>

  <script>

  /************************************************************************
   * Métodos para el componente visor-cuentas
   * - _movements: Lanza evento reqmovements de solicitud de movimientos
   * al pulsar el botón "Movimientos" de alguno de los elementos presentados
   * El evento contiene el id interno de la cuenta seleccionada
   * - _cashIncome: Lanza evento reqcashincome de solicitud de ingreso de
   * efectivo al pulsar el botón "Ingreso" de alguno de los elementos
   * presentados.El evento contiene el id interno de la cuenta seleccionada
   * - _cashWithdrawal: Lanza evento reqcashwithdrawal de solicitud de retirada de
   * efectivo al pulsar el botón "Retirada" de alguno de los elementos
   * presentados.El evento contiene el id interno de la cuenta seleccionada
   * - _newAccount: Lanza evento "reqnewaccount" de solicitud de creación de
   * nueva cuenta al pulsar el botón "Nueva Cuenta"
   * - _isBalance: Formatea los balances a presentar de cada cuenta con
   * separadores de miles y de decimales. Genera el valor del saldo en dolares
   * a través del tipo de cambio obtenido y formatea todos los valores a presentar.
   * - _logout: Lanza evento para deslogar al usuario y salir de su posición global
   ************************************************************************/

    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          accounts: {
            type: Array
          },
          id: {
            type: Number
          },
          firstname: {
            type: String
          },
          lastname: {
            type: String
          },
          iban: {
            type: String
          },
          balance: {
            type: Number
          },
          exchange: {
            type: Number
          }
        };
      }

      _movements(e){
        this.dispatchEvent(
          new CustomEvent(
            'reqmovements',
            {
              "detail" : {
                "oid" : e.model.item._id.$oid
              },
            }
          )
        );
      }

      _cashIncome(e){
        this.dispatchEvent(
          new CustomEvent(
            'reqcashincome',
            {
              "detail" : {
                "oid" : e.model.item._id.$oid
              },
            }
          )
        );
      }

      _cashWithdrawal(e){
        this.dispatchEvent(
          new CustomEvent(
            'reqcashwithdrawal',
            {
              "detail" : {
                "oid" : e.model.item._id.$oid
              },
            }
          )
        );
      }

      _newAccount(){
        this.dispatchEvent(
          new CustomEvent(
            'reqnewaccount',
            {
              "detail" : {}
            }
          )
        );
      }

      _isBalance(item) {
        var formatNumber = {
          separador: ".", // separador para los miles
          sepDecimal: ',', // separador para los decimales
          formatear:function (num){
           num +='';
           var splitStr = num.split('.');
           var splitLeft = splitStr[0];
           var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
           var regx = /(\d+)(\d{3})/;
           while (regx.test(splitLeft)) {
             splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
           }
           return  splitLeft + splitRight + this.simbol;
        },
        formatea:function(num, simbol){
           this.simbol = simbol ||'';
           return this.formatear(num);
        },
        redondea:function round(num, decimales = 2) {
          var signo = (num >= 0 ? 1 : -1);
          num = num * signo;
          if (decimales === 0) //con 0 decimales
              return signo * Math.round(num);
          // round(x * 10 ^ decimales)
          num = num.toString().split('e');
          num = Math.round(+(num[0] + 'e' + (num[1] ? (+num[1] + decimales) : decimales)));
          // x * 10 ^ (-decimales)
          num = num.toString().split('e');
          return signo * (num[0] + 'e' + (num[1] ? (+num[1] - decimales) : -decimales));
      }
        }
        if (sessionStorage.getItem('usdExchange')){
          var auxExchange = item.balance*sessionStorage.getItem('usdExchange');
          var roundExchange = formatNumber.redondea(auxExchange);
          item.usdbalance=formatNumber.formatea(roundExchange,"$");
        }else{
          item.usdbalance=formatNumber.formatea(0,"$");
        }
        item.balance=formatNumber.formatea(item.balance,"€");
        return item;
      }

      _logout(){
        this.dispatchEvent(
          new CustomEvent(
            'reqlogout',
            {
              "detail" : {}
            }
          )
        );
      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
