<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!--Definimos el componente nuevo-usuario -->
<dom-module id="nuevo-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div>
      <h3 class="text-primary">Introduce la información del nuevo usuario</h3>
      <br>
      <p>
        <input type="text" placeholder="First Name" on-blur="checkFirstName" value="{{firstname::input}}" id="nombre"/>
        <input type="text" placeholder="Last Name" on-blur="checkLastName" value="{{lastname::input}}"/>
        <input type="email" placeholder="Email" on-blur="checkEmail" value="{{email::input}}"/>
        <input type="password" placeholder="Password" on-blur="checkPwd" value="{{password::input}}"/>
      </p>
    </div>
    <footer>
      <button class="btn btn-primary" on-click="_adduser" disabled="true" id="crear">Crear Usuario</button>
      <button class="btn btn-primary" on-click="_atras">Volver</button>
    </footer>
  </template>

  <script>

  /************************************************************************
   * Métodos para el componente nuevo-usuario
   * - _adduser: Lanza evento reqadduser con los datos recogidos en
   * ventana, para la solicitud de creacion de cuenta y controlando
   * que no se lance dos veces la petición con los mismos datos.
   * - _showMsgError: Muestra el mensaje devuelto por el back de creación
   * de usuario (dm-create-user)
   * - _atras: Limpia datos de ventana y lanza evento para volver a ventana de
   * login de usuario
   * - checkEmail: Comprueba si el formato del email introducido es correcto
   * y si es así y el resto de campos tienen valor habilita el botón para la
   * creación del usuario, sino se deshabilita.
   * - checkFirstName: Comprueba si el formato del nombre introducido es correcto
   * y si es así y el resto de campos tienen valor habilita el botón para la
   * creación del usuario, sino se deshabilita.
   * - checkLastName: Comprueba si el formato del apellido introducido es correcto
   * y si es así y el resto de campos tienen valor habilita el botón para la
   * creación del usuario, sino se deshabilita.
   * - checkPwd: Comprueba si el campo password tiene valor
   * y si es así y el resto de campos tienen valor habilita el botón para la
   * creación del usuario, sino se deshabilita.
   ************************************************************************/

    class NuevoUsuario extends Polymer.Element {
      static get is() { return 'nuevo-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          firstname: {
            type: String
          },
          lastname: {
            type: String
          },
          result: {
            type: String,
            observer: '_showMsgError'
          }
        };
      }

      _adduser(){
        var userNew = {
          "email" : this.email,
          "pwd" : this.password,
          "first_name" : this.firstname,
          "last_name" : this.lastname
        }
        if (sessionStorage.getItem('userOld')){
          if (JSON.stringify(userNew) == sessionStorage.getItem('userOld')){
            swal("","Es necesario modificar los datos para poder crear el usuario","warning");
          }
          else{
            sessionStorage.setItem('userOld',JSON.stringify(userNew));
            this.dispatchEvent(
              new CustomEvent(
                'reqadduser',
                {
                  "detail" : {
                    "email" : this.email,
                    "pwd" : this.password,
                    "first_name" : this.firstname,
                    "last_name" : this.lastname
                  },
                }
              )
            );
          }
        }
        else{
          sessionStorage.setItem('userOld',JSON.stringify(userNew));
          this.dispatchEvent(
            new CustomEvent(
              'reqadduser',
              {
                "detail" : {
                  "email" : this.email,
                  "pwd" : this.password,
                  "first_name" : this.firstname,
                  "last_name" : this.lastname
                },
              }
            )
          );
        }
      }

      _showMsgError(result){
        if (!result.error){
          swal("",result.msg,"success");
          this._atras();
        }else{
          swal("",result.msg,"error");
        }
      }

      _atras(){
        this.firstname=undefined;
        this.lastname=undefined;
        this.email=undefined;
        this.password=undefined;
        this.dispatchEvent(
          new CustomEvent(
            'atras',
            {
              "detail" : {}
            }
          )
        );
      }

      checkEmail(){
        //Comprobamos el formato del email introducido
        if (!(/^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i.test(this.email))) {
          swal("","El formato del email introducido no es correcto, debe modificarlo","error");
          this.email=undefined;
          this.shadowRoot.getElementById("crear").disabled=true;
        }else{
          if(this.firstname && this.lastname && this.email && this.password){
            this.shadowRoot.getElementById("crear").disabled=false;
          }
        }
      }

      checkFirstName(){
        //Comprobamos el formato del nombre introducido
        if (!(/^([A-Z][a-z]+[\s]*)+$/i.test(this.firstname))) {
          this.firstname=undefined;
          swal("","El formato del nombre introducido no es correcto, debe modificarlo","error");
          this.shadowRoot.getElementById("crear").disabled=true;
        }else{
          if(this.firstname && this.lastname && this.email && this.password){
            this.shadowRoot.getElementById("crear").disabled=false;
          }
        }
      }

      checkLastName(){
        //Comprobamos el formato del nombre introducido
        if (!(/^([A-Z][a-z]+[\s]*)+$/i.test(this.lastname))) {
          this.lastname=undefined;
          swal("","El formato del apellido introducido no es correcto, debe modificarlo","error");
          this.shadowRoot.getElementById("crear").disabled=true;
        }else{
          if(this.firstname && this.lastname && this.email && this.password){
            this.shadowRoot.getElementById("crear").disabled=false;
          }
        }
      }

      checkPwd(){
        //Comprobamos si se ha introducido la pwd
        if (this.password == "" || this.password == undefined) {
          swal("","Es obligatorio definir una password para poder crear el usuario","warning");
          this.shadowRoot.getElementById("crear").disabled=true;
        }else{
          if(this.firstname && this.lastname && this.email && this.password){
            this.shadowRoot.getElementById("crear").disabled=false;
          }
        }
      }

    }
    window.customElements.define(NuevoUsuario.is, NuevoUsuario);
  </script>
</dom-module>
