<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!--Definimos el componente cash-withdrawal -->
<dom-module id="cash-withdrawal">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div>
      <h2 class="text-primary">Retirada de Efectivo</h2>
      <br>
      <h3 class="text-primary">Introduce la cantidad a retirar:</h3>
      <br>
      <p>
        <input type="amount" placeholder="Cantidad a retirar" value="{{amount::input}}"/>
        <button class="btn btn-primary" on-click="_cashwithdrawal">Retirar Efectivo</button>
      </p>
    </div>
    <footer>
      <button class="btn btn-primary" on-click="_atras">Volver</button>
    </footer>
  </template>

  <script>

  /************************************************************************
   * Métodos para el componente cash-withdrawal
   * - _cashwithdrawal: Lanza evento reqcashwithdrawaldata con el importe a retirar
   * y la cuenta seleccionada previamente que esta guardada en sessionStorage
   * - _showMsgError: Muestra el mensaje devuelto por el back de retirada
   * de efectivo (dm-cashwithdrawal) y lanza evento para volver a la posición
   * global refrescando las cuentas del cliente
   * - _atras: Lanza evento para volver a la posición global del cliente
   * y limpia el contenido del campo que contiene la cantidad a ingresar
   ************************************************************************/

    class CashWithdrawal extends Polymer.Element {
      static get is() { return 'cash-withdrawal'; }
      static get properties() {
        return {
          amount: {
            type: Number
          },
          password: {
            type: String
          },
          resultcashwithdrawal: {
            type: Object,
            observer: '_showMsgError'
          }
        };
      }

      _cashwithdrawal(){
        if(isNaN(this.amount)){
          swal("","Debe introducir una cantidad válida","error");
        }else{
          var cuentas = JSON.parse(sessionStorage.getItem('cuentas'));
          var selectAccount = sessionStorage.getItem('cuentaseleccionada');
          this.dispatchEvent(
            new CustomEvent(
              'reqcashwithdrawaldata',
              {
                "detail" : {
                  "amount" : parseFloat(this.amount),
                  //Eliminamos las comillas de la cuenta seleccionada
                  "accountid" : selectAccount.slice(1,-1)
                }
              }
            )
          );
          this.amount=undefined;
        }
      }

      _showMsgError(resultCashwithdrawal){
        if (resultCashwithdrawal!="" && resultCashwithdrawal!=undefined){
          if (!resultCashwithdrawal.error){
            swal("",resultCashwithdrawal.msg,"success");
            this.dispatchEvent(
            new CustomEvent(
              'refreshaccounts',
              {
                "detail" : {
                  "refresh" : true
                }
              }
            )
          );
        }else{
          swal("",resultCashwithdrawal.msg,"error");
        }
          resultCashwithdrawal="";
        }
      }

      _atras(){
        this.amount=undefined;
        this.dispatchEvent(
          new CustomEvent(
            'atras',
            {
              "detail" : {}
            }
          )
        );
      }

    }
    window.customElements.define(CashWithdrawal.is, CashWithdrawal);
  </script>
</dom-module>
