<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--Definimos el componente dm-logout-usuario -->
<dom-module id="dm-logout-usuario">
  <template>

    <iron-ajax
      id="doLogout"
      method="POST"
      url="http://localhost:3000/apitechu/v2/logout"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>

  /************************************************************************
   * Métodos para el componente dm-logout-usuario
   * - _doLogout: Carga en body el objeto recibido con los datos para la
   * petición POST de logout. En el body se carga el id de usuario.
   * - manageAJAXResponse: Se ejecuta en caso de obtener respuesta correcta de
   * la petición POST y lanza un evento indicando resultado correcto en la operación
   * - _showError: Se ejecuta en caso de producirse un error en la petición
   * POST y lanza un evento trasladando este error.
   ************************************************************************/

    class DmLogoutUsuario extends Polymer.Element {
      static get is() { return 'dm-logout-usuario'; }
      static get properties() {
          return {
          credentials: {
            type : String,
            observer : '_doLogout'
          }
        };
      }

      _doLogout(credentials){
        if(credentials!=""){
          this.$.doLogout.body={"id":credentials};
          this.$.doLogout.generateRequest();
        }
      }

      manageAJAXResponse(data){
        //Lanzamos evento con los datos obtenidos
        this.dispatchEvent(
          new CustomEvent(
            'reslogout',
            {
              "detail" : {
                "result" : true
              },
            }
          )
        );
      }

      showError(error){
        this.dispatchEvent(
          new CustomEvent(
            'reslogout',
            {
              "detail" : {
                "error" : error
              },
            }
          )
        );
      }

    }

    window.customElements.define(DmLogoutUsuario.is, DmLogoutUsuario);
  </script>
</dom-module>
