<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--Definimos el componente dm-login-usuario -->
<dom-module id="dm-login-usuario">
  <template>

    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>

  /************************************************************************
   * Métodos para el componente dm-login-usuario
   * - _doLogin: Carga en body el objeto recibido con los datos para la
   * petición POST de login. En el body se carga email y password.
   * - manageAJAXResponse: Se ejecuta en caso de obtener respuesta correcta de
   * la petición POST y lanza un evento indicando resultado correcto en la operación
   * donde se incluye el id, nombre y apellido del usuario logado.
   * - _showError: Se ejecuta en caso de producirse un error en la petición
   * POST y lanza un evento trasladando este error.
   ************************************************************************/

    class DmLoginUsuario extends Polymer.Element {
      static get is() { return 'dm-login-usuario'; }
      static get properties() {
          return {
          credentials: {
            type : String,
            observer : '_doLogin'
          }
        };
      }

      _doLogin(credentials){
        if (credentials!=""){
          this.$.doLogin.body=credentials;
          this.$.doLogin.generateRequest();
        }
      }

      manageAJAXResponse(data){
        //Lanzamos evento con los datos obtenidos
        this.dispatchEvent(
          new CustomEvent(
            'reslogin',
            {
              "detail" : {
                "result" : true,
                "id" : data.detail.response.id,
                "first_name" : data.detail.response.first_name,
                "last_name" : data.detail.response.last_name,
              },
            }
          )
        );
      }

      showError(error){
        this.dispatchEvent(
          new CustomEvent(
            'reslogin',
            {
              "detail" : {
                "error" : error
              },
            }
          )
        );
      }

    }

    window.customElements.define(DmLoginUsuario.is, DmLoginUsuario);
  </script>
</dom-module>
